<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h3>I would like to display all the books in my personal catalog.</h3>
            <form class="form-group" action="/getBook" method="POST">
                <input type="hidden" value="" name="searchText">
                <input type="hidden" value="" name="nextStep">
                <input type="hidden" value="" name="searchBy">
                <input type="submit" class="btn btn-outline-primary" value="Display">
            </form>
        </div>
        <div class="col-sm-4">
            <h3>I would like to search my personal catalog.</h3>
            <form class="form-group" action="/getBook" method="POST">
                <input type="hidden" value="" name="searchText">
                <input type="hidden" value="search" name="nextStep">
                <input type="hidden" value="title" name="searchBy">
                <input type="submit" class="btn btn-outline-primary" value="Search">
            </form>
        </div>
        <div class="col-sm-4">
            <h3>I would like to personalize the books in my catalog.</h3>
            <form class="form-group" action="/getBook" method="POST">
                <input type="hidden" value="" name="searchText">
                <input type="hidden" value="change" name="nextStep">
                <input type="hidden" value="" name="searchBy">
                <input type="submit" class="btn btn-outline-primary" value="Personalize">
            </form>            
        </div>
    </div> 
</div>

