<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Catalog app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <header>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Search Google Books</h1>            
        </div>
                    
        <div class="container" style="margin-top:30px">
            <h3>Enter a book title to search:</h3>
            <form class="form-group" action="/searchAPI" method="POST">
                <input type="hidden" value="intitle:" name="searchBy">
                <input type="text" class="form-control" name="searchText">
                <input type="submit" class="btn btn-outline-primary" value="Search">
            </form>
            <h3>Enter an author's name to search:</h3>
            <form class="form-group" action="/searchAPI" method="POST">
                <input type="hidden" value="inauthor:" name="searchBy">
                <input type="text" class="form-control" name="searchText">
                <input type="submit" class="btn btn-outline-primary" value="Search">
            </form>
        </div>
    </header>

    <div class="container" style="margin-top:30px">

        <form class="form-check" action="/getDetails" method="POST">
            <ul><% for (var i = 0; i < result.length; i++)  { %>
                <input type="radio" class="form-check-input" name="id" value="<%= result[i].googleid %>"><strong><%= result[i].title %></strong> by <%= result[i].author %> id: <%= result[i].googleid %><br>
                <% } %>
            </ul>
            <input class=" btn btn-outline-primary" type="submit" value="Details">
        </form>
    </div>
</body>
</html>